body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
    //border: solid 1px #32a1ce;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.container *{
    border-radius: 5px;
}
.inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
	grid-template-rows: 150px 150px 150px 150px;
}

.img {
	width: 100%;
}
.table *{
    //border: solid 1px black;
}
.table{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 0;
	grid-template-rows: 100px; 
}

.header{
    padding: 6px;
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 37%;
	grid-template-rows: 30px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 7px;
}
.add_and_ask{
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin-top: 5px;
}
.item{
    padding: 4px;
	//text-align: center;
    //border: solid 1px #32a1ce;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
}

.header > .btn{
    padding: 0;
    margin: 0;
    background: #31b545;
}
.column > .val{
    background: rgba(0, 0, 0, 0.3)
}
.column > .half{
    background: rgb(248, 168, 24);
}
.column{
    display: grid;
    grid-gap: 15%;
    padding: 3px;
    margin-left: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.column > .btn{
    padding: 0;
    margin: 0;
}
.btn {
	display: inline-block;
	padding: 6px 23px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.ask{
    padding: 0;
    background: #31b545;
}

.usercard {
	text-align: center;
}